{% extends "master.html" %}
{% load static %}

{% block title %}
Pinboard Manager - {{image.name}}
{% endblock %}

{% block content %}
{% if action == 'delete' %}
<div id="delete-confirmation" class="z-50 w-full h-full absolute bg-black/75 top-0 left-0 flex">
    <div class="w-96 mx-auto my-auto p-4 rounded bg-white flex flex-col">
        <div class="mb-4">Effacer l'image ?</div>
        <div class="flex flex-row">
            <a href="{{image.id}}/delete" class="button bg-red-100 text-red-600">Supprimer</a>
            <a href="{{image.id}}" class="button">Annuler</a>
        </div>
    </div>
    <!-- <div class="bg-black opacity-75 w-full h-full absolute"></div> -->
</div>
{% endif %}
<div class="flex flex-row" id="image-header">
    {% if search %}
    <div class="w-6 h-6 mr-4 mt-1" id="back"><a href="{% url 'images' %}?q={{search}}&random={{random}}&sort_by_creation={{sort_by_creation}}"><img src="{% static 'assets/icons-700/arrow-left.svg' %}" alt="" /></a></div>
    {% else %}
    <div class="w-6 h-6 mr-4 mt-1" id="back"><a href="{% url 'images' %}?random={{random}}&sort_by_creation={{sort_by_creation}}"><img src="{% static 'assets/icons-700/arrow-left.svg' %}" alt="" /></a></div>
    {% endif %}
    <div class="" id="image-meta">
        <h1 class="text-lg mb-2">{{ image.name }}</h1>
        <a href="{{image.id}}?action=delete" class="text-xs">Supprimer</a>
        {% if tag_edit %}
        {% if search %}
        <form action="{{image.id}}/tags_update?q={{search}}&random={{random}}&sort_by_creation={{sort_by_creation}}" method="post">
            {% else %}
            <form action="{{image.id}}/tags_update?random={{random}}&sort_by_creation={{sort_by_creation}}" method="post">
                {% endif %}
                {% csrf_token %}
                {{form}}
                <label><input type="text" name="tags" id="tags" dirname="fruit.dir" value="{{tags_list_for_edit}}" class="rounded px-2 py-1"></label>
                <input type="submit" value="Mettre à jour" class="button submit"/>
            </form>
    </div>
    </<div class=""></div>
    {% else %}
    <ul class="tags-list flex flex-row">
        {% for i in tags %}
        <li class="mr-1"><a href="http://{{request.get_host}}/images/?q=:{{i}}:" class="tag">:{{i}}:</a></li>
        {% endfor %}
        <li><a href="?tag_edit=1&q={{search}}&random={{random}}&sort_by_creation={{sort_by_creation}}" class="tag edit">Éditer les étiquettes</a></li>
    </ul>
</div>
</div>
{% endif %}
{% if image.type == 'image' %}
<div id="image">
    <img src="/data/{{image.file}}" class="mx-auto mt-4 block" />
</div>
{% elif image.type == 'video' %}
<div id="image">
    <video class="mx-auto mt-4 block" controls>
        <source src="/data/{{image.file}}">
    </video>
</div>
{% endif %}
{% endblock %}
