body {
    background-color: lightblue;
    font-family: verdana;
}
.images-container{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
.image{
}
.image img{
    width: 256px;
    height: 256px;
}
